<!DOCTYPE>
<html>
    <head>
       <title><%= title %></title>
    </head>
    <body >
      <h1 style="font-family:monospace;">About</h1>
      <p style="font-family:monospace;"><%= about %></p>
      <h2 style="font-family:monospace;">Name of Scholar</h1>
      <p style="font-family:monospace;" >
         <% for(var i = 0; i < public._data.scholars.length; i++) {-%>
            <% if (public._data.scholars[i].publish_status) {-%>
               <%- public._data.scholars[i].index_no %>. <a href="<%- public._data.scholars[i].wiki_link%>"><%- public._data.scholars[i].scholar_name %></a>
               <br/>
               <br/>
               <% if (public._data.scholars[i].google_play_link) {-%>
                  <a href="<%- public._data.scholars[i].google_play_link %>">Listen on Google Play Music</a>
                  <br/>
                  <br/>
               <% } -%>

               <% if (public._data.scholars[i].itunes_link) {-%>
                  <a href="<%- public._data.scholars[i].itunes_link%>">Listen on itunes</a>
                  <br/>
                  <br/>
               <% } -%>
               <% if (public._data.scholars[i].subscribeonandroid_link) {-%>
                  <a href="<%- public._data.scholars[i].subscribeonandroid_link %>">Subscribe on Android</a>
                  <br/>
                  <br/>
               <% } -%>
            <% } -%>
         <% } -%>
      </p>

      <p>
         <h2 style="font-family:monospace;">Disclaimer</h2>
         <ul>
            <li>islam4all and its developers is not responsible for any content linked to or referred to from this website.</li>
            <li>islam4all and its developers does not accept responsibility for content hosted on third party websites.</li>
            <li>islam4all and its developers is not responsible for any content uploaded to YouTube, Soundcloud, Video or any other online video hosting/streaming service embedded on our site.</li>  
            <li>islam4all feeds can be used for development of third party apps that has advertisement or monetary gain thereof without our permission.</li> 
            <li>islam4all and its developer does not necessarily agree with or condone the ideologies, messages, theological opinions and views of the speakers.</li>
            <li>Content on this site may be downloaded and can be forked . You may not use these files for commercial purposes as many of these files have rules and regulations that prevent their sale except by the publishing companies.</li>
            <li>islam4all and its developers is not affiliated with any particular movement, sect, group, etc. We absolutely condemn in the strongest terms terrorism and any extremism done in the name of Islam and we refuse to associate ourselves with those who practice and condone such behavior and thoughts.</li>
         </ul>

      </p>
    </body>
 </html>
 