<%- include('./../../xml_partial/_header') %>
    <channel>
        <atom:link href="<%= public.tafhim_ul_quran._data.channel_info.href %>" rel="self" type="application/rss+xml" />
        <title><%= public.tafhim_ul_quran._data.channel_info.title %></title>
        <link><%= public.tafhim_ul_quran._data.channel_info.link %></link>
        <description><%= public.tafhim_ul_quran._data.channel_info.description %></description>
        <managingEditor><%= public.tafhim_ul_quran._data.channel_info.managingEditor %></managingEditor>
        <webMaster><%= public.tafhim_ul_quran._data.channel_info.managingEditor %></webMaster>
        <language><%= public.tafhim_ul_quran._data.channel_info.language %></language>
        <creativeCommons:license>https://creativecommons.org/licenses/by-nc-nd/4.0/</creativeCommons:license>
        <pubDate><%= public.tafhim_ul_quran._data.channel_info.language %></pubDate>
        <lastBuildDate><%= public.tafhim_ul_quran._data.podcast_list[0].pubDate %></lastBuildDate>
        <image>
            <url><%= public.tafhim_ul_quran._data.channel_info.image.url %></url>
            <title><%= public.tafhim_ul_quran._data.channel_info.title %></title>
            <link><%= public.tafhim_ul_quran._data.channel_info.link %></link>
        </image>
        <docs>http://www.rssboard.org/rss-specification</docs>
        <itunes:author><%= public.tafhim_ul_quran._data.channel_info.itunes.author %></itunes:author>
        <itunes:keywords><%= public.tafhim_ul_quran._data.channel_info.itunes.keywords %></itunes:keywords>
        <itunes:category text="<%- public.tafhim_ul_quran._data.channel_info.itunes.category %>">
                    <itunes:category text="<%- public.tafhim_ul_quran._data.channel_info.itunes.subcategory %>"/>
        </itunes:category>
        <itunes:explicit>clean</itunes:explicit>
        <itunes:type><%= public.tafhim_ul_quran._data.channel_info.itunes.type %></itunes:type>
        <itunes:image href="<%= public.tafhim_ul_quran._data.channel_info.image.url %>"/>
        <itunes:owner>
            <itunes:name><%= public.tafhim_ul_quran._data.channel_info.itunes.owner.name %></itunes:name>
            <itunes:email><%= public.tafhim_ul_quran._data.channel_info.itunes.owner.email %></itunes:email>
        </itunes:owner>
        <% for(var i = 0; i < public.tafhim_ul_quran._data.podcast_list.length ; i++) {-%>
            <% if (public.tafhim_ul_quran._data.podcast_list[i].publish_status) {-%>
                <item>
                    <title><%= public.tafhim_ul_quran._data.podcast_list[i].title %></title>
                    <link><%= public.tafhim_ul_quran._data.podcast_list[i].link %></link>
                    <description><%= public.tafhim_ul_quran._data.podcast_list[i].description %></description>
                    <pubDate><%= public.tafhim_ul_quran._data.podcast_list[i].pubDate %></pubDate>
                    <guid isPermaLink="true"><%= public.tafhim_ul_quran._data.podcast_list[i].link %></guid>
                    <media:content medium="audio" url="<%= public.tafhim_ul_quran._data.podcast_list[i].link %>" type="audio/mpeg" isDefault="true" expression="full" duration="<%= public.tafhim_ul_quran._data.podcast_list[i].duration_in_sec %>">
                        <media:title type="plain"><%= public.tafhim_ul_quran._data.podcast_list[i].title %></media:title>
                        <media:description><%= public.tafhim_ul_quran._data.podcast_list[i].description %></media:description>
                        <media:rating scheme="urn:simple">nonadult</media:rating>
                        <media:thumbnail url="<%= public.tafhim_ul_quran._data.channel_info.image.url %>"/>
                        <media:keywords><%= public.tafhim_ul_quran._data.podcast_list[i].keywords %></media:keywords>
                    </media:content>
                    <enclosure url="<%= public.tafhim_ul_quran._data.podcast_list[i].link %>" length="<%= public.tafhim_ul_quran._data.podcast_list[i].length_in_bytes %>" type="audio/mpeg"/>
                    <itunes:image href="<%= public.tafhim_ul_quran._data.channel_info.image.url %>"/>
                    <itunes:explicit>clean</itunes:explicit>
                    <itunes:duration><%= public.tafhim_ul_quran._data.podcast_list[i].itunes.duration %></itunes:duration>
                    <% if (public.tafhim_ul_quran._data.podcast_list[i].index) {-%>
                        <itunes:episode><%= public.tafhim_ul_quran._data.podcast_list[i].index %></itunes:episode>
                    <% } -%>
                    <itunes:episodeType>full</itunes:episodeType>
                </item>
            <% } -%>
        <% } -%>
    </channel>
<%- include('./../../xml_partial/_footer') %>
